.text-center{
  text-align: center ;
}
/* .bG{
  background-color: grey;
} */

  .mx-auto {
    margin: auto;
  }
.flex {
  display : flex;
}
.flex-col{
    flex-direction: column;
} 
.item-center{
  align-items: center;
  justify-content: center;
}
